@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes fadeOverlayIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

html,
body {
  font-family: "Inter";
  color: #000;
}
